.detailContent {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center
}
.detailBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    text-transform: uppercase;
}
.detailBox p {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid;
}
.backButton {
    font-size: 15px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 15px;
}
.description {
    width: 50%;
}
.description h4 span {
    color: green;
    margin-left: 5px;
}
.description h4 {
    font-size: 25px;
    letter-spacing: 1px;
}