.detailsContainer {
    height: calc(100vh - 87px);
}
.detailContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.detailBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    background: #e2e2e2;
    text-transform: uppercase;
}
.detailBox p {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid;
}
.backButton {
    font-size: 15px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 15px;
}

.buttonStyle:disabled {
    background: #9E9E9E;
}