.listwrap ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
}
.listwrap {
    width: 80%;
    padding-top: 30px;
    margin-bottom: 50px;
}
.sidebarWrapper h4 {
    margin-top: 0;
}
.content-wrapper {
    display: flex;
}
.bgBlack {
    background: #000;
}
.btnRed {
    background: red;
}
.clearBtn {
    display: block;
    margin-bottom: 15px;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.sidebarWrapper {
    width: calc(20% - 40px);
    padding: 20px;
}
.productCount {
    font-size: 12px;
    background: green;
    padding: 10px;
    color: #fff;
}
.selectboxStyle {
    height: 30px;
    width: 116px;
    border-radius: 0;
    outline: none;
    background: green;
    font-size: 15px;
    margin-left: 10px;
    color: #fff;
    border: none;
    padding: 6px;
    cursor: pointer;
}
.selectBoxWrapper {
    position: absolute;
    right: 40px;
    top: 72px; 
}
.selectBoxWrapper span {
    font-size: 12px;
    margin-right: 5px;
}
.freeShippingBtn {
    cursor: pointer;
    text-transform: capitalize;
    border-top: 2px solid;
    padding: 15px 0;
    margin-top: 5px;
    border-bottom: 2px solid;
}
.freeShippingBtnActivated {
    background: red
}