.listStyle{
    width: calc(33.33% - 50px) ;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 25px;
}
.shippingText{
    position: absolute;
    right: 0;
    font-size: 10px;
    background: #000;
    color: #fff;
    padding: 5px;
}
.btnWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.imageStyle {
    height: 200px
}
.buttonStyle ,
.selectedStyle{
    background: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    margin: 0 5px;
    border: none;
}
.productName {
    font-size: 12px;
    text-transform: capitalize;
}
.selectedStyle {
    background: green;
    display: none
}
