.headerStyle {
    background: #000;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.cartWrapper {
    position: absolute;
    right: 35px;
    top: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.cartWrapper img {
    margin: 0 10px;
}
.cartWrapper .count {
    width: 22px;
    height: 22px;
    background: red;
    border-radius: 20px;
    font-size: 15px;
    position: absolute;
    right: -7px;
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
