.headerStyle {
    background: #000;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
}
.cartWrapper {
    position: absolute;
    right: 35px;
    top: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.cartWrapper img {
    margin: 0 10px;
}
.cartWrapper .count {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 20px;
    padding: 3px;
    font-size: 15px;
    font-weight: 600;
}
