
.listStyle{
    width: calc(33.33% - 50px) ;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 25px;
}
.shippingText{
    position: absolute;
    right: 0;
    font-size: 10px;
    background: #000;
    color: #fff;
    padding: 5px;
}
.footerStyle {
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.headerStyle {
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.imageStyle {
    height: 200px
}
.buttonStyle {
    background: #000;
    color: #fff;
    width: 80%;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
}
.sizeSelection {
    background: #000;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    outline: none;
    height: 40px;
    width: 40px;
    font-size: 12px;
    margin: 0 15px 15px 0;
    cursor: pointer;
}
.sortStyle {
    position: absolute;
    right: 15px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sortStyle span {
    font-size: 12px;
    margin-right: 5px;
}
.productName {
    font-size: 12px;
    text-transform: capitalize;
}
